body {
    background-image: url(/assets/img/background.jpg);
    background-size: cover;
}

h2 {
    color:red;
    text-align: center;
    border: 5px solid purple;
}

#h-login {
    color:blue;
}

p {
    color:green;
}