body {
    background-image: url(/assets/img/background.jpg);
    background-size: cover;
}

h2 {
    color: #CF6B0F;
    text-align: center;
    border: 5px solid rgba(0, 31, 35, 0.5);
    cursor: pointer;
}

#h-login {
    color: lightcyan;
}

p {
    color:white;
}

li {
    color: lightblue;
    list-style: none;
    display: inline-block;
}

a {
    color: #025D6A;
}